.header-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-about ul {
    display: none;
}

.header-about ul li {
    list-style: none;
    text-decoration: none;
}

.nav-desktop {
    display: none;
}

.fa-bars {
    color: var(--secondary);
    font-size: 1rem;
}

.icon-cart-desktop {
    display: none;
    font-size: 1.25rem;
}

.fa-cart-shopping {
    color: var(--secondary);
}

.logo-about {
    margin-top: 5px;
    width: 93px;
    height: 40px;
    border-radius: 0;
}

.search-bar-desktop-about {
    margin-left: 6rem;
    margin-right: 12rem;
    align-items: center;
    width: 700px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--secondary);
    font-size: 14px;
    display: none;
}

.sign-in {
    display: none;
}

.sign-in-button {
    background-color: var(--secondary);
    width: 118px;
    height: 44px;
    margin-right: 4rem;
    color: var(--primary);
    font-weight: normal;
    font-size: 1.25rem;
}

textarea {
    height: 19px;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.desktop-home-about {
    display: none;
}

.search-icon {
    margin-left: 1rem;
}

main img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.about-1 {
    color: var(--neutral);
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.about-2 {
    color: var(--neutral);
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
}

/*FooterStart*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    width: 100%;
    background-color: black;
    color: white;
}

footer ul {
    margin-top: 48px;
    gap: 3rem;
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 0.75rem;
    color: var(--primary)
}

.footer-follow {
    margin-top: 30px;
    margin-bottom: 1rem;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6)
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}

.icon-fb {
    color: #3B5998;
}

.icon-tw {
    color: #1DA1F2;
}

.icon-ig {
    color: orange;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-icons-desktop {
    display: none;
}

.summary-img-2 {
    display: none;
}

.discount {
    border-radius: 8px;
    margin: 2rem 2rem 2rem 2rem;
    display: none;
    width: 470px;
    height: 100px;
    background-color: var(--neutral);
}

.discount form {
    margin: 1rem 1rem 1rem 1rem;
}

.discount input {
    width: 330px;
}

.discount button {
    border: none;
    background-color: var(--secondary);
    color: var(--neutral);
    width: 100px;
    height: 36px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--neutral);
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}

/* Large (lg) */
@media (min-width: 1024px) {
    main {
        margin-left: 3.25rem;
        margin-right: 3.25rem;
    }

    .header-about {
        width: 100%;
        height: 3.5rem;
        justify-content: flex-start;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .icon-cart-desktop {
        display: block;
    }

    .genres-desktop {
        font-size: 2rem;
    }

    .genre-buttons button {
        width: 110px;
        height: 40px;
    }

    .genre-buttons-desktop button {
        width: 110px;
        height: 40px;
    }

    .genre-buttons {
        gap: 1.5rem;
    }

    .genre-buttons-desktop {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .search-bar-desktop-about {
        margin-right: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .logo-about {
        width: 112px;
        height: 48px;
    }

    .icon-bars, .icon-cart {
        display: none;
    }

    .sign-in {
        display: block;
    }

    footer {
        width: 100%;
    }

    .nav-desktop {
        display: block;
    }

    .nav-desktop ul li a {
        list-style: none;
        text-decoration: none;
        color: var(--secondary);
    }

    .header-about ul {
        margin-left: 2rem;
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .header-about ul li:hover {
        color: var(--neutral);
    }

    .sign-in-button {
        background-color: var(--secondary);
        width: 118px;
        height: 44px;
        margin-right: 4rem;
        color: var(--primary);
        font-weight: normal;
        font-size: 1.25rem;
        border-radius: 2rem;
        border: none;
    }

    button:hover {
        color: var(--neutral);
        border: 1px solid var(--primary);
        cursor: pointer;
    }

    h1 {
        font-size: 3rem;

    }

    .about-1 {
        display: flex;
        flex-direction: row;
    }

    .content-1 p {
        width: 1000px;
        text-align: start;
        line-height: 1.75rem;
        font-size: 1.25rem;
        padding: 1rem 3rem 1rem 0;
    }

    .content-1 h2 {
        color: var(--primary);
        font-size: 2rem;
        text-align: start;
    }

    .content-2 h2 {
        color: var(--primary);
        font-size: 2rem;
        text-align: end;
    }

    .about-2 {
        display: flex;
        flex-direction: row-reverse;
    }
    .content-2 p {
        width: 1000px;
        text-align: end;
        line-height: 1.75rem;
        font-size: 1.25rem;
        padding: 1rem 0 1rem 3rem;
    }
}
/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    .search-bar-desktop-about {
        margin-right: 20rem;
    }
    /* Your styles for the 2XL breakpoint here */
}