
* {
    font-family: procino, sans-serif;

}

body {
    padding: 0;
    margin: 0;
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url("../assets/images/checkout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.logo {
    height: 88px;
    width: 133px;
    background-color: #FF9900;
    border-radius: 44px;
    flex-shrink: 0;
    display: flex;
    padding: 8px .7rem;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.success-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: procino, sans-serif;
    font-weight: 400;
    color: #FF9900;
}

.success-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

