body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ),
    url("../assets/images/checkout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: procino, sans-serif;
    height: 100vh;
}

.img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.logo {
    height: 64px;
    width: 126px;
    background-color: #FF9900;
    border-radius: 64px;
    padding: 1rem 2rem;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.success-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: procino, sans-serif;
    font-weight: 400;
    color: #FF9900;
    margin-top: 60px;
}

.success-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 126px;
    width: 100%;
    background-color: black;
    color: white;
}

footer ul {
    margin-top: 48px;
    gap: 3rem;
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 0.75rem;
    color: var(--primary)
}

.footer-follow {
    margin-top: 30px;
    margin-bottom: 1rem;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6)
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}

.icon-fb {
    color: #3B5998;
}

.icon-tw {
    color: #1DA1F2;
}

.icon-ig {
    color: orange;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-icons-desktop {
    display: none;
}

.see-more-button {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {

    footer {
        width: 100%;
    }

    .footer-nav ul li {
        font-size: 26px;
    }

    .footer-follow {
        font-size: 26px;
    }

    .footer-icons {
        font-size: 26px;
    }

    .footer-copyright {
        font-size: 26px;
    }

    .logo {
        height: 120px;
        width: 250px;
    }

}

/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}